language: python

cache: pip

python:
  - '3.6'
  - '3.7'
  - '3.8'

matrix:
  include:
    - dist: xenial

    # measure coverage here
    - dist: bionic
      python: '3.6'
      before_install:
        - pip install coverage
      script:
        - coverage run -m unittest discover -v
        - datum -h
      after_success:
        - coverage xml
        - bash <(curl -Ls https://coverage.codacy.com/get.sh) report

    - dist: bionic
      python: '3.7'
    - dist: bionic
      python: '3.8'

install:
  - pip install -e ./
  - pip install tensorflow

script:
  - python -m unittest discover -v
  - datum -h