include README.md
include requirements-core.txt
include requirements-default.txt
include 3rd-party.txt
include src/datumaro/plugins/specs.json
include src/datumaro/cli/commands/downloaders/kaggle_formats.json

include rust/Cargo.toml
recursive-include rust/src *
