attrs>=21.3.0
defusedxml>=0.7.0
h5py>=2.10.0
imagesize>=1.4.1
lxml<6,>=5.2.0
matplotlib>=3.3.1
networkx>=2.6
nibabel>=3.2.1
numpy<2,>=1.23.4
orjson==3.10.7
Pillow>=10.3.0
ruamel.yaml>=0.17.0
shapely>=1.7
typing_extensions>=3.7.4.3
tqdm

pycocotools>=2.0.4; platform_system != "Windows" or python_version >= '3.9'

pycocotools-windows; platform_system == "Windows" and python_version < '3.9'
PyYAML==6.0.1

# 2.3 has an unlisted dependency on PyTorch, which we don't need
tensorboardX>=1.8,!=2.3

# Builtin plugin dependencies

# NDR
scipy

# Image generator
requests

# Sampler
pandas>=1.4.0

# OpenVINO
openvino>=2023.2.0
tokenizers

# Encryption
cryptography>= 38.03

# Shift analyzer
pyemd

# apache arrow
pyarrow

# ava data format
protobuf

# Comparator
tabulate

# Model inference launcher from the dedicated inference server
ovmsclient
tritonclient[all]

# prune
scikit-learn

# Stream JSON parser
json-stream

# TabularValidator
nltk

# torch converter for language
portalocker
