attrs>=21.1.0
defusedxml>=0.6.0
dvc>=2.3.0
GitPython>=3.0.8
lxml>=4.4.1
matplotlib>=3.3.1
numpy>=1.17.3
Pillow>=6.1.0

# Avoid 2.0.2 Linux binary distribution because of
# a conflict in numpy versions with TensorFlow:
# - TF is compiled with numpy 1.19 ABI
# - pycocotools is compiled with numpy 1.20 ABI
# Using a previous version allows to force package rebuilding.
#
# https://github.com/openvinotoolkit/datumaro/issues/253
pycocotools>=2.0.0,!=2.0.2; platform_system != "Windows"

pycocotools-windows; platform_system == "Windows"
PyYAML>=5.3.1
scikit-image>=0.15.0

# 2.3 has an unlisted dependency on PyTorch, which we don't need
tensorboardX>=1.8,!=2.3
