-r requirements-linters.txt

# testing
pytest>=5.3.5
pytest-cov>=4.0.0
pytest-stress
pytest-html
coverage
pytest-csv

# DatumaroApp
streamlit~=1.31.1
streamlit_antd_components
streamlit_elements
streamlit-aggrid
