.wy-nav-content {
    max-width: 1280px !important;
}

.wy-nav-side {
    background-color: #F9FAFB;
    border-right: 1px solid #dee2e6;
}

.wy-menu-vertical a {
    color: #495057;
}

.wy-menu-vertical a:hover {
    background-color: #F9FAFB;
    color: #4282e2;
}

.wy-dropdown-menu>dd>a:hover {
    color: #30638E;
}