-r ../requirements-core.txt
-r ../requirements-default.txt
-r ../requirements-dev.txt

opencv-python-headless==4.9.0.80

# docs
markupsafe==2.1.5
nbconvert>=7.2.3
ipython==8.24.0
sphinx==7.2.6
pydata-sphinx-theme==0.15.3
sphinx-copybutton
sphinx-autoapi
myst-parser
nbsphinx
tensorflow
jupyter
jupytext
pandoc
sphinx-design
sphinx-toolbox
