name: Github pages

on:
  push:
    branches:
      - releases/v1.0.0

jobs:
  deploy:
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.83.1'
          extended: true

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '14.x'

      - name: Install npm packages
        working-directory: ./site
        run: |
          npm ci

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      # click>=8.1.0 fails https://github.com/streamlit/streamlit/issues/4555
      - name: Build docs
        run: |
          pip install \
            'click<8.1' \
            gitpython packaging toml Sphinx==4.2.0 sphinx-rtd-theme==1.0.0 sphinx-copybutton==0.4.0 \
            tensorflow openvino-dev sphinxcontrib-mermaid
          pip install -r requirements.txt
          pip install 'click<8.1' git+https://github.com/pytorch-ignite/sphinxcontrib-versioning.git@a1a1a94ca80a0233f0df3eaf9876812484901e76
          pip install -e '.[default,tf,tfds]'
          sphinx-versioning -l site/source/conf.py build -r develop -w develop site/source site/static/api
          python site/build_docs.py

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          force_orphan: true
