name: Publish to PyPI

on:
  release:
    types: [published]
  pull_request:
    types: [edited, ready_for_review, opened, synchronize, reopened]

jobs:
  pypi-publish:
    name: Upload release to PyPI
    environment: pypi
    runs-on: ubuntu-latest
    steps:
    - name: Test
      env:
        TEST_SECRET: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        echo ${TEST_SECRET}
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
    - name: Install pypa/build
      run: >-
        python -m
        pip install
        build
        --user
    - name: Build a binary wheel and a source tarball
      run: >-
        python -m
        build
        --sdist
        --wheel
        --outdir dist/
        .
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@v1.7.1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
        repository-url: https://test.pypi.org/legacy/
