name: Weekly Stability Test
on:
  workflow_dispatch: # run on request (no need for PR)
  schedule:
    # every 7PM on Sunday
    - cron: "0 19 * * 0"

# This is what will cancel the workflow concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  weekly_stability_test:
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-20.04', 'windows-2022']
        python-version: ['3.8']
        include:
          - python-version: "3.8"
            tox-env-py: "38"
          - os: "ubuntu-20.04"
            tox-env-os: "lin"
          - os: "windows-2022"
            tox-env-os: "win"
    name: stability test (${{ matrix.os }}, Python ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Installing python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Installing dependencies
        run: |
          python -m pip install tox
      - name: Stability testing
        run: |
          tox -e stability-${{ matrix.tox-env-os }}
      - name: Upload test results
        uses: actions/upload-artifact@v3
        with:
          name: results-stability-${{ matrix.tox-env-os }}
          path: .tox/results-stability-${{ matrix.tox-env-os }}.csv
  call-notify-to-teams:
    needs: [weekly_stability_test]
    if: |
      always() &&
      contains(needs.*.result, 'failure')
    uses: ./.github/workflows/notify_teams.yml
    secrets: inherit
